<html>
<nav class="navbar">
  <div class="container">
    <button id="back-main" class="back-main">回到首頁</button>
    <button id="about" class="about">About</button>
    <button id="portfolio" class="portfolio">Portfolio</button>
    <button id="contact" class="contact">Contact</button>
  </div>
</nav>

<link rel="stylesheet" href="./stylesheets/style.css">
</head>


<body>
  {{{body}}}
</body>

</html>